@import '../../../styles/utilities';

iframe {
    border: 0;
    outline: none;
}

.price-marker {
    position: relative;
    width: auto;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    font-size: larger;
    margin: -54px 0 0 -16px;
    display: table;
    cursor: pointer;
    transition: background-color ease 0.15s;
    text-decoration: none !important;
    outline: none;
    z-index: 1; //just to be displayed over pin-markers
    &:hover {
        transition: background-color ease 0.15s;
        background-color: $WebjetBtnDefaultBg;
    }

    &:active {
        border: 0 !important;
    }

    &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 15px;
        bottom: -15px;
        border: 7px solid;
        border-color: $lightMildGrey transparent transparent $lightMildGrey;
    }

    .city-text,
    .price-text,
    .more-text {
        max-width: 120px;
        padding: 0 8px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .city-text {
        text-align: left;
        color: $darkGrey;
        font-weight: 700;
        font-size: 15px;
    }

    .price-text-wrapper {
        display: flex;
        .from-text {
            font-weight: normal;
            color: grey;
        }
    }

    .price-text {
        margin-top: 2px;
        font-weight: 700;
        font-size: 15px;
        color: $darkGrey;
    }
    // web jet search widget overrides
    .zsl-btn-group-flight {
        display: none;
    }
}

.expandable-marker-container {
    .price-marker {
        margin-top: -73px;
        padding-bottom: 4px;
    }

    .expandable-markers {
        display: flex;
        flex-direction: column;

        .price-marker {
            margin-top: 0;
            z-index: 2; //just to be displayed over regular markers
        }

        .price-marker:before {
            display: none;
        }
    }
}
