.range-slider {
    flex-grow: 8;
    top: 0;
    padding: 5px;
    font-size: 1rem;
}

.slider-label {
    font-size: 32px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    width: 50px;
    background: #dfdfdf;
    color: #707070;
    align-items: center;
    display: flex;
    justify-content: center;
}
