@import '../../../styles/variables';

.widget-container {
    .middle-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-transform: capitalize;
    padding: 10px;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    transition: background-color linear 0.15s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.76);
        transition: background-color ease 0.15s;
    }

    .widget-col {
        flex: 1 1 0;
    }

    .widget-row {
        margin: 4px;
        flex: 1 1 0;
        display: flex;
        flex-wrap: nowrap;
        border-radius: $widget__border-radius;
        transition: background-color linear 0.15s;
        justify-content: left;

        input {
            &:read-only {
                cursor: pointer !important;
            }
        }
    }

    .departure-panel {
        text-align: left;
        width: 100%;
        max-width: 525px;
        margin-right: 30px;
    }

    .date-panel {
        text-align: left;
        width: 300px;
        max-width: 300px;
    }

    .budget-panel {
        min-width: 460px;

        .widget-row-fill {
            background-color: white;
            width: 100%;
            height: 52px;
            margin-top: 4px;

            &:hover {
                background-color: #f6f2e7;
                transition: background-color ease 0.15s;
            }
        }

        $icon-width: 50px;
        $text-width: 120px;

        #one-handler-range-slider {
            width: calc(100% - #{$icon-width});
            display: flex;
            flex-direction: row;
            padding: 0;
            font-size: 1rem;
            color: #333;
            z-index: 0;
            justify-content: center;

            .text-container {
                width: $text-width;
                height: 100%;
            }

            .slider-container {
                width: calc(100% - #{$text-width} - 20px);
                margin-right: 20px;
                padding-top: 1px;

                .rc-slider {
                    width: 100%;
                }
            }
        }

        .icon-label {
            font-size: 28px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            width: $icon-width;
            background: #dfdfdf;
            color: #707070;
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    .wj-rc-autocomplete {
        .rc-autocomplete__option {
            text-transform: none;

            .has-metro {
                padding-left: 15px;
            }

            mark {
                color: inherit;
                background-color: #dae9f5;
            }

            span {
                display: inline;
                color: inherit;
                font-size: inherit;
            }

            .auto-label {
                color: #333 !important;
                margin-bottom: 5px;
            }

            .auto-sub-label {
                margin-top: 5px;
                font-style: normal !important;
                line-height: 1.5rem;
                color: #646464 !important;
                font-size: 0.9rem;
            }

            .auto-sub-label span {
                font-style: normal;
                font-weight: unset;
            }
        }
    }
}
