$break-small: 375px;

@media screen and (max-width: $break-small) {
    .widgetContainer {
        display: none;
    }
}

.pickup-location {
    top:3px;
    width: 20%;
    height: 50px;
    margin: 10px;
}

.widgetContainer {
    position: absolute;
    width: 95%;
    height: 80px;
    margin: 5px;
    background-color: #333;
    opacity: 0.85;
    transition: opacity linear 0.15s;

    &:hover {
        opacity: 0.88;
        transition: opacity ease 0.15s;
    }
}



