@import '../../../styles/utilities';

.widget-container {
    text-transform: capitalize;
    padding: 10px;
    z-index: 1;
    transition: background-color linear 0.15s;
    text-align: left;

    .widget-row {
        display: flex;

        .wj-rc-select {
            width: auto !important;
        }

        span.filter-title {
            margin-bottom: 0.3em;
            display: inline-block;
            color: $mildWhite;
        }

        .logo-in-widget {
            margin: 0 30px;

            img {
                height: 52px;
            }
        }

        .departure-panel {
            text-align: left;
            height: 52px;
            flex-grow: 2;
            min-width: 350px;

            .rc-autocomplete__option {
                text-transform: none;

                .has-metro {
                    padding-left: 15px;
                }

                mark {
                    color: inherit;
                    background-color: #aacff2;
                    margin: 0;
                    padding: 2px 0;
                }

                span {
                    display: inline;
                    color: inherit;
                    font-size: inherit;
                }

                .auto-label {
                    line-height: normal;
                    color: $darkGrey !important;
                    margin-bottom: 5px;
                }

                .auto-sub-label {
                    font-size: 16px;
                    margin-top: 10px;
                    font-style: normal !important;
                    line-height: 1.5rem;
                    color: $grey !important;
                }

                .auto-sub-label span {
                    font-style: normal;
                    font-weight: unset;
                }
            }
        }

        .date-panel {
            text-align: left;
            flex-grow: 1;
            min-width: 20%;
        }

        .budget-panel {
            flex-grow: 1;

            .range-slider {
                background-color: white;
                border-radius: 3px;
            }

            .widget-row-fill {
                display: flex;
                align-items: stretch;
                height: 52px;

                &:hover {
                    transition: background-color ease 0.15s;

                    .icon-label {
                        background: #bfbfbf;
                    }
                }

                $text-width: 120px;
                $icon-width: 120px;

                .icon-label {
                    flex-grow: 1;
                    font-size: 28px;
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                    background: $inputIconBackground;
                    color: $inputIcon;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }

                #one-handler-range-slider {
                    flex-grow: 9;
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    font-size: 16px;
                    color: #333;
                    z-index: 0;
                    justify-content: center;

                    .text-container {
                        min-width: $text-width;
                        height: 100%;
                        flex-grow: 3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .slider-container {
                        flex-grow: 9;
                        width: calc(100% - #{$text-width} - 20px);
                        margin-right: 20px;
                        padding-top: 1px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .rc-slider {
                            flex-grow: 1;
                        }
                    }
                }
            }
        }
    }
}

@media #{$not-mobile} {
    .overlaid-content-wrapper {
        .widget-container {
            .background {
                display: none;
            }

            background-color: rgba(0, 0, 0, 0.75);

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
                transition: background-color ease 0.15s;
            }

            .widget-row {
                flex-flow: row nowrap;
                align-items: flex-start;
                .date-panel {
                    margin-left: 1%;
                }

                .budget-panel {
                    margin-left: 1%;
                }
            }

            .widget-summary {
                display: none !important;
            }
        }
    }
}

@media #{$mobile} {
    .overlaid-content-wrapper {
        .widget-container {
            background-color: #646464;
            box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14),
                0 6px 30px 5px rgba(0, 0, 0, 0.12);

            .widget-row {
                justify-content: right;
                .btn-standard {
                    display: flex;
                    justify-content: stretch;
                    height: 38px;
                    line-height: 38px;
                    font-size: 14px;
                    margin-left: auto;
                    flex-wrap: nowrap;

                    .wj-icon {
                        color: $darkGrey;
                        margin-left: 1em;
                        display: flex;
                        justify-content: right;
                        &::after {
                            margin-left: auto;
                        }
                    }
                }
            }

            .widget-summary {
                line-height: 1.5em;
                border: 0;
                outline: none;
                cursor: pointer;

                .search-cell {
                    color: $mildWhite;
                    display: flex;
                    flex-wrap: wrap;

                    .city {
                        min-height: 20px;
                        display: flex;
                        flex-grow: 20;
                        flex-basis: 100%;
                        font: {
                            weight: 700;
                            size: 13px;
                        }
                    }

                    .date {
                        display: flex;

                        &::after {
                            content: '';
                            width: 1px;
                            height: 20px;
                            margin: 0 6px 0 6px;
                            background-color: $mildWhite;
                            overflow: visible;
                            display: inline-block;
                        }
                    }
                }
            }

            .widget-controls {
                flex-direction: column;
                margin-top: 2em;

                .filter-title {
                    margin-top: 5px;
                }
            }
        }
    }
}
