//slider scss
.sliderClassName {
    position: 'relative';
    left: "115px";
    width: "50%"
}


.budgetlabel{
    position: 'absolute';
    left: "-95px";
    color: "#f5f5f5";
    top:"-2px"
}

.from{
    position: 'absolute';
    left:"-15px";
    color: "#f5f5f5"

}


.to{
    position: 'relative';
    left:"275px";
    color: "#f5f5f5"

}