.pickup-location {
    width: 400px;
    margin: 20px;
}

.widgetContainer {
    position: absolute;
    width: 600px;
    min-height: 300px;
    margin: 15px;
    background-color: #333;
    opacity: 0.85;
    transition: opacity linear 0.15s;

    &:hover {
        opacity: 0.88;
        transition: opacity ease 0.15s;
    }
}