@import '../../styles/utilities';

.departure-marker {
    position: relative;
    left: 0px; 
    top: 0px; 
    user-select: none; 
    width: 19px; 
    height: 27px;
    border: 0px;
    padding: 0px; 
    margin: 0px; 
    max-width: none;    
}