@import '../../styles/utilities';

$markerSize: 24px;
$markerSizehovered: 30px;
.departure-marker {
    width: $markerSize;
    height: $markerSize;
    border-radius: 100%;
    background: $primaryRed;
    margin-top: -2px;
    margin-left: -3px;
    border: 2px solid $lighterGrey;

    &:hover {
        width: $markerSizehovered;
        height: $markerSizehovered;
    }
}
