p.price-marker {
    position: relative;
    width: 70px;
    height: 38px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #666;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #888;
    font-size: larger;
    margin: -52px 0 0 -21px;

    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 30%;
        top: 35px;
        border: 7px solid;
        border-color: #666 transparent transparent #666;
    }

    .price-text {
        font-weight: 700;
    }
}
