@import 'googleMap.mobile';

@media #{$not-mobile} {
    .footer-disclaimer {
        margin-bottom: 0.5rem;
    }

    .full-screen-map-toggle {
        height: 100vh !important;
        position: inherit;
        .overlaid-content-wrapper {
            top: 0;
        }
    }
}

.full-screen-switcher {
    z-index: 2;
    position: absolute;
    bottom: 5%;
    left: 2%;
    border: 0;
    height: 40px;
    width: 40px;
    background-color: $white;
    cursor: pointer;
    font-size: 20px;
    color: $grey;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

    &:hover {
        color: $darkGrey;
    }

    &:focus {
        outline: 0;
    }
}

.loader-container {
    margin-top: 1px;
    width: 100%;
    position: absolute;
    top: 0;
}

.full-screen {
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
