.wj-rc-datepicker {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    left: 0;
    top: 15px;
}

.wj-rc-datepicker .DayPicker-Months {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-spacing: 5px;
    border-right: 1px solid #f5f5f5;
}

.wj-rc-datepicker .header .wj-rc-select {
    width: auto;
    display: inline-block;
    padding-top: 13px;
    right: 125px;
    box-shadow: none;
}

.wj-rc-datepicker .DayPicker-NavButton {
    font-family: 'WebjetIcons';
    font-size: 32px;
    color: #333333;
    position: absolute;
    top: -50px;
    left: 0;
    display: inline-block;
    width: 32px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}

.wj-rc-datepicker .DayPicker-NavButton--next {
    right: 0px;
    left: auto;
}

.sideheader {
    position: absolute;
    top: 16px;
    right: 75px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    display: inline-block;
}
