.btn-standard {
    box-shadow: none;
    color: #333333;
    background: inherit;
}

.hr {
    display: block;
    margin-bottom: 8%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2;
    color: inherit;
}

.hr1 {
    display: block;
    margin-top: 0%;
    margin-bottom: 5%;
    border-style: inset;
    border-width: 2;
    color: inherit;
}

.btn-group {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 6px;
}

.btn-group1 {
    display: table;
    position: absolute;
    display: flex;
    left: 105px;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.dateContainer {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    min-height: 240px;
    margin: 15px;
    background-color: #333;
    opacity: 0.85;
    transition: opacity linear 0.15s;
    padding: 2% 5%;

    &:hover {
        opacity: 0.88;
        transition: opacity ease 0.15s;
    }
}
