@import 'utulities';

@media #{$mobileAndTablet} {
    .App {
        min-height: 70vh;
    }
    .widget-container {
        display: none;
    }
}

@media #{$mobile} {
    .widget-container {
        flex-direction: column;

        .widget-row-fill {
            width: 100% !important;
        }
    }
}
