@import 'tringo.mobile';
@import 'utilities';

.App {
    text-align: center;
}

.fees-linked-text {
    color: #0060bb !important;
    text-decoration: none !important;
    margin-left: 0;
}

@media #{$not-mobile} {
    .mobile-footer-disclaimer {
        display: none;
    }
    #footer,
    .footer-disclaimer {
        display: inherit !important;
    }
}

// search widget overrides  begin

.zsl-tab-btn-group-container {
    .zsl-btn-group-justified {
        .zsl-btn-group:last-child {
            display: none !important;
        }

        .zsl-btn-group:nth-child(2) {
            border-radius: 3px !important;

            .zsl-btn {
                border-top-right-radius: 3px !important;
                border-bottom-right-radius: 3px !important;
            }
        }
    }
}

.ui-zsl-date-picker-current-day {
    i {
        display: none !important;
    }
}

// search widget overrides  end
